// Override default variables before the import
$body-bg: #f8f9fa;
$body-color: #333;
$primary: #0590c7;
$secondary: #2a8ea6;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


// Import assets
@import './assets/css/loading.scss';


// custom style
.text-strike { text-decoration: line-through; }
.full-width { width: 100%; }
h1, h2, h3 { font-weight: 1000; }

.fading-appear {
    opacity: 0.01;
}
  
.fading-appear.fading-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.fading-enter {
    opacity: 0.01;
}

.fading-enter.fading-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fading-leave {
    opacity: 0.5;
}

.fading-leave.fading-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}