.products { font-size: 12px; }
.products .product-item:hover { text-decoration: none; }
.products .product-item .price { font-size: 20px; }
.products .product-item .adon { margin-top: 15px; font-size: 10px; }
.products .product-name { font-size: 18px; }