.products { font-size: 12px; }
.products .product-item {
	border: 1px solid green;
}
.products .product-item .figure { margin: 0; }
.products .product-item .adon { margin-top: 15px; font-size: 10px; }