.products { 
	font-size: 12px; 
	justify-content: space-around;

}
.products .product-item { 
	float: left;
	width: 180px;
	margin: 5px;
}

.products .product-item.special {
	width: 230px;
}
.product-item.special .product-info { display: none; }
.products .product-item:hover { text-decoration: none; }
.products .product-item .price { font-size: 20px; }
.products .product-item .adon { margin-top: 15px; font-size: 10px; }
.products .product-name { font-size: 18px; }